@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Base --- */

@layer base {
  * {
    @apply select-none;
  }

  html::-webkit-scrollbar {
    @apply hidden;
  }

  body {
    @apply bg-[#f5f5f5] text-base font-normal font-Lato text-dark;
  }

  input,
  select,
  textarea {
    @apply block w-full h-11 px-3.5 bg-white rounded-lg focus:outline-secondary disabled:opacity-50;
  }

  textarea {
    @apply py-2.5 min-h-40 max-h-96;
  }
}

/* --- Components --- */

.navlinks a.active {
  @apply text-secondary;
}

.navlinks a.active img {
  animation: animate-rotate 500ms ease-in-out;
}

@keyframes animate-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --- Utilities --- */

@layer utilities {
  .container {
    @apply max-w-[480px] w-full px-4 mx-auto;
  }
}
